/* common styles */
nav {
    background-color: #cd9f38;
}

.common-buttons {
    background-color: #91AB2B;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
    background-color: #b6d7a8;
    font-family: 'Montserrat', sans-serif;
}

#parrafo-1 {
    font-family: 'Quicksand', sans-serif;
}

.header_banner_color {
    background-color: #ecc660;
}

.banner-title-color {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
}
/*
.img-background-color {
    background-color: #eec660;
} */

.section-height {
    min-height: 100%;
}

.cloth-section-text-color {
    color: #cd9f38;
}

a {
    text-decoration: none;
    font-size: 14px;
} 

@media only screen and (min-width:1024px) and (max-width:1280px) {
    .sec-testimonios {
        min-width: 100%;
    }
    .card-size {
        max-width: 100%;
    }
}


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */