body {
    font-family: 'Montserrat', sans-serif;
}
/* common styles */

.common-buttons {
    background-color: #91AB2B;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
}

h2 {
    background: rgb(51,67,54);
    background: linear-gradient(0deg, rgba(51,67,54,1) 0%, rgba(205,159,56,1) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;    
}

.slider-text {
    background: rgb(51,67,54);
    background: linear-gradient(0deg, rgba(51,67,54,1) 0%, rgba(205,159,56,1) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;    
}

body,
html {
    overflow-x: hidden;
}

#parrafo-1 {
    font-family: 'Quicksand', sans-serif;
}

.header_banner_color {
    background-color: #ecc660;
}

.banner-title-color {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
}

.img-background-color {
    background-color: #eec660;
}

.section-height {
    min-height: 100%;
}

.cloth-section-text-color {
    color: #FABE4C;
}

.contact-logo {
    width: 78px;
    height: 82px;
}

#carouselExampleCaptions {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    display: flex;
}

.slide img {
    height: auto;
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
    .cloth-section-mq {
        min-width: 100%;
    }
    .card-size {
        max-width: 100%;
    }
}


/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */